<div class="card" style="margin-top: 4%;">
    <div style="margin-left: 10%; margin-right: 10%;">
        <div class="text-center">
            <h2 style="color: #069abb; font-size: x-large; padding-top: 4%;"><b>Nossos parceiros</b> </h2>
            <p style="font-size: medium;">A GoMed possui a confiança de grandes empresas e instituições de saúde e
                tecnologia. Levamos até você o que há de mais inovador nos cuidados com o corpo e a mente. Conheça
                nossos parceiros e apoiadores:</p>
        </div>
        <div>
            <div class="row">
                <div class="col alinhar-imagem">
                    <img src="assets/img/parceiros/1.png" alt="">
                </div>
                <div class="col alinhar-imagem">
                    <img src="assets/img/parceiros/2.png" alt="">
                </div>
                <div class="col alinhar-imagem">
                    <img src="assets/img/parceiros/3.png" alt="">
                </div>
                <div class="col alinhar-imagem">
                    <img src="assets/img/parceiros/4.png" alt="">
                </div>
                <div class="col alinhar-imagem">
                    <img src="assets/img/parceiros/5.png" alt="">
                </div>
            </div>
            <div style="text-align: center; padding-bottom: 2%; ">
                <button style="border-radius: 30px;" mat-raised-button type="submit"
                    [routerLink]="['/seja-parceiro']">Seja nosso parceiro</button>
            </div>
        </div>
    </div>
</div>