.vex-layout-ikaros {
  --toolbar-height: 110px;
  --navigation-height: 0px;

  &.vex-style-default {
    --toolbar-background: #{$sidenav-background};
    --navigation-color: white;
    --toolbar-color: white;
  }
}
