<link href="https://fonts.googleapis.com/css2?family=Passion+One&family=Rubik:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="fundo">
    <div class="container">
        <div class="col" style="width: 255px; margin-top: 75px;">
            <span class="title">
                GoMed
            </span>
            <span class="sub-title">
                Seu agente de saúde digital
            </span>
        </div>
    </div>
</div>
<div class=container>
    <div class="row">
        <div class="mb-4 col-xl-4">
            <div class="card" style="background: #447095;">
                <div class="card-body">
                    <h1 class="title-card">Médicos qualificados</h1>
                    <p class="text-card">
                        Sua saúde em boas mãos. Consulte-se com profissionais que são referência nas mais
                        diversas especializações da Medicina.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-4">
            <div class="card" style=" background: rgb(6, 154, 187);">
                <div class="card-body">
                    <h1 class="title-card">Exames</h1>
                    <p class="text-card">
                        Todos os seus diagnósticos e avaliações estão a um clique. Agende exames rapidamente em
                        laboratórios conceituados
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-4">
            <div class="card text-center" style="background: rgb(92, 166, 182);">
                <div class="card-body">
                    <h1 class="title-card">Medicamentos</h1>
                    <p class="text-card">
                        Encontre medicamentos com os melhores preços e receba em casa - simples, rápido, seguro
                        e
                        econômico.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<vex-info-para-voce></vex-info-para-voce>