<div class="row">
  <div vexContainer>
    <div class=" py-16">
      <div class="mt-16 mx-auto flex flex-col md:flex-row">
        <a class="text-center p-6" routerLinkActive>
          <img class="select-none" src="assets/img/logos/logo.png" style="width: 300px; margin-top: 20%;">
        </a>

        <a class="text-left p-6 md:w-1/2 md:mx-2" routerLinkActive>
          <h2 class="title" style="color: #447095; margin-bottom: 5%;"><b>Sobre nós</b></h2>
          <p style="margin-bottom: 5%;">
            <a routerLink="/seguranca" class="mb-0 mt-4 sub cursor-pointer">Segurança de dados</a>
          </p>
          <p style="margin-bottom: 5%;">
            <a href="" class="mb-0 mt-4 sub">Carreiras</a>
          </p>
        </a>

        <a class="text-left p-6 md:w-1/2 md:mx-2" routerLinkActive>
          <h2 class="title" style="color: #447095; margin-bottom: 5%;"><b>Como funiona</b></h2>
          <p style="margin-bottom: 5%;">
            <a routerLink="/para-voce" class="mb-0 mt-4 sub">Para você</a>
          </p>
          <p style="margin-bottom: 5%;">
            <a href="#!" class="mb-0 mt-4 sub">Buscar especialidades</a>
          </p>
          <p style="margin-bottom: 5%;">
            <a routerLink="/painel" class="mb-0 mt-4 sub">Área do Cliente</a>
          </p>
          <p style="margin-bottom: 5%;">
            <a routerLink="seja-parceiro" class="mb-0 mt-4 sub">Para médicos e clínicas</a>
          </p>
        </a>

        <a class="text-left p-6 md:w-1/2 md:mx-2" routerLinkActive>
          <h2 class="title" style="color: #447095; margin-bottom: 5%;"><b>Ajuda</b></h2>
          <p style="margin-bottom: 5%;">
            <a href="#!" class="mb-0 mt-4 sub">Dúvidas frequentes</a>
          </p>
          <p style="margin-bottom: 5%;">
            <a routerLink="/contato" class="mb-0 mt-4 sub">Contato</a>
          </p>
          <p style="margin-bottom: 5%;">
            <a routerLink="/login" class="mb-0 mt-4 sub">Login</a>
          </p>

          <div class="row">
            <div class="alterar-icone">
              <button>
                <img src="assets/img/logos/twitter.svg" alt="">
              </button>
            </div>

            <div class="alterar-icone">
              <button>
                <img src="assets/img/logos/facebook.svg" alt="">
              </button>
            </div>

            <div class="alterar-icone">
              <button>
                <img src="assets/img/logos/instagram.svg" alt="">
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
