.painel-login{
  min-height: 600px;

  .input-login{
    color:#515151 !important;
  }
  .access{
    margin-top:78px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #069ABB;
  }
  .input-login{
    margin-bottom: 37px;
    padding-left: 25px;
    padding-right: 25px;
    background: #FFFFFF;
    border: 1px solid #447095;
    box-sizing: border-box;
    border-radius: 60px;
    height: 45px;
    border: 1px solid #447095;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    color: #828282;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::placeholder{
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;

      align-items: center;
      color: #828282;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .remember{
    margin:auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: block;
    text-align: center;
    align-items: center;
    color: #447095;
  }
  .text-login{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #515151;
  }
  .btn-padrao{
    width:100%;
  }
  .control{
    padding:40px;
    margin:auto;
  }
  .cadastro{
    padding-left: 100px;
  }
  .back{
    cursor:pointer;
    margin-top:20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: inline-flex;
    align-items: center;
    text-align: left;
    color: #447095;
  }
  .register{
    .insert-more{
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #447095;
    }

    .access{
      margin-top:0px;
      display: block !important;
      text-align: center;
    }
    .custom-control-label{
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #515151;

      &::before{
        color: #fff;
        border-color: #069ABB;
        background-color: #ffffff;
      }

    }
    .custom-control{
      &.custom-control-inline{
        &.custom-radio{
          &:first-child{
            margin-right: 100px;
          }
        }
      }
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
      background:  #069ABB;
      border-radius: 50%;
      height: 10px;
      margin: 3px;
      width: 10px;
    }
    .radio-input{
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
    }

  }
  .agendar{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    display: block;
    align-items: center;
    text-align: center;
    color: #515151;
    strong{
      font-weight: bold;
    }
  }
  .line{
    &.default{
      stroke:#069ABB !important;
    }
    &.not{
      stroke:#828282 !important;
    }
    &.success{
      stroke: #219653 !important;
    }
  }
  .link-wizard{

    .active{
      cursor:pointer;
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #069ABB;
      &:first-child{
        margin-left:auto;
      }
      &:last-child{
        margin-right:auto;
      }
      &.not{
        pointer-events: none;
        font-weight: normal;
        color:#828282;
      }
      &.success{
        font-weight: normal;
        color: #219653 !important;
      }
    }
  }
  .price-form{
    padding:10px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;

    .form-pagamento{
      .custom-control-label{
        line-height: 39px !important;
        padding-left: 15px !important;
      }
    }
  }
  .price-text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 43px;
    display: inline-block;
    align-items: center;
    color: #515151;
  }


}

.cadastro{
  padding-left: 40px !important;
}

.control{
  padding:40px;
  margin:auto;
}
