<link href="https://fonts.googleapis.com/css2?family=Passion+One&family=Rubik:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="fundo">
    <div class="container">
        <div class="col" style="width: 255px; margin-top: 75px;">
            <span class="title">
                GoMed
            </span>
            <span class="sub-title">
                Agendamento integrado com o seu sistema
            </span>
        </div>
        <div class="row" style="margin-bottom: -47px; margin-top: 44px ;">
            <div class="col-xl-6">
                <div class="card card-doctors text-center">
                    <div class="card-body">
                        <div class="text-light">
                            <h1 class="title-card">Integração com o seu sistema</h1>
                            <p class="text-card">
                                Use a tecnologia a seu favor. A plataforma da GoMed atua de forma integrada ao seu
                                sistema, proporcionando mais consultas sem nenhum trabalho operacional extra. Mais
                                ganhos, menos estresse.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-cadastrar col-xl-6 ">
                <button class="cadastrar btn btn-secondary rounded-pill">
                    Quero
                    me cadastrar
                </button>
            </div>
        </div>
    </div>
</div>
<vex-info-parceiro></vex-info-parceiro>