<div id="vex-splash-screen">
  <div class="wrapper">
    <div class="ball-scale-multiple">
      <div><img style="width: 100px;height: 100px;" src="/assets/img/demo/logo.svg" /></div>
      <div><img style="width: 100px;height: 100px;" src="/assets/img/demo/logo.svg" /></div>
      <div><img style="width: 100px;height: 100px;" src="/assets/img/demo/logo.svg" /></div>
      <div><img style="width: 100px;height: 100px;" src="/assets/img/demo/logo.svg" /></div>
      <!-- <div><img style="width: 100px;height: 100px;" src="assets/img/logos/logo-default.png" /></div>
      <div><img style="width: 100px;height: 100px;" src="assets/img/logos/logo-default.png" /></div>
      <div><img style="width: 100px;height: 100px;" src="assets/img/logos/logo-default.png" /></div>
      <div><img style="width: 100px;height: 100px;" src="assets/img/logos/logo-default.png" /></div> -->

    </div>
  </div>
</div>
