<link href="https://fonts.googleapis.com/css2?family=Passion+One&family=Rubik:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="fundo">
  <div class="container" style="padding: 100px;">
    <div class="col" style="width: 255px; margin-top: 75px;">
      <span class="title">
        GoMed
      </span>
      <span class="sub-title">
        Seus dados mais seguros
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="title">
    <b>Segurança de dados</b>
  </div>
  <div class="text">
    <p>
      Seus dados estão seguros na GoMed. Todas as informações concedidas são criptografadas e protegidas. Nenhum dado é
      vendido ou compartilhado com terceiros. Saiba mais sobre nossos processos de segurança.
    </p>
  </div>

  <div class="row" style="margin-bottom: -47px; margin-top: 44px ;">
    <div class="col-xl-6">
      <div class="card card-doctors text-center">
        <div class="card-body">
          <div class="text-light">
            <h1 class="title-card">Segurança de dados</h1>
            <p class="text-card">
              Todos os dados fornecidos são protegidos pelo sistema Microsoft Azure, com backups contínuos e firewall
              industrial. O sistema em nuvem impede perdas ou roubos de dados e bloqueia acessos não autorizados. GoMed
              é segurança e confiança.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-cadastrar col-xl-6 ">
      <img src="/assets/img/fundos/seg-dados.png" alt="">
    </div>
  </div>
</div>
  <vex-parceiros></vex-parceiros>
