.btn{
    margin: 49px auto auto;
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    display: block;
    align-items: center;
    text-align: center;
    color: #447095;
    background: #fff;
    padding: 17px 80px 17px 80px;
    box-shadow: 0 5px 30px rgb(0 0 0 / 10%);
}

.card{
    box-shadow: 0 5px 17px rgb(0 0 0 / 25%);
    width: 318px;
    height: 630px;
}

.foto{
    width: 100%;
    height:100%

}